<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN || Wings and Chunks || WAC-POS</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="Wings and Chunks" class="header_logo">
    </header>
    <main class="container">
        <form class="form-group" action="/auth" method="post">
            <div>
                <input class="form-style" type="text" class="form-control" id="user" name="user" placeholder="Usuario" required>
            </div>
            <div>
                <input class="form-style" type="password" class="form-control" id="pass" name="pass" placeholder="Password" autocomplete="off" required>
            </div>
            <div>
                <input class="btn" type="submit" id="btnIngresar" value="ENTRAR">
            </div>
        </form>
    </main>
    <footer>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </footer>
    <% if (typeof alert != "undefined")  { %>
        <script>
        Swal.fire({
          title:'<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        }).then(()=>{
          window.location='/<%= ruta %>'
        })
        </script>
      <% } %>
</body>
</html>